{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    body{background-color: ivory;}
</style>
<body>
<nav class = "navbar" style="background-color: lightpink;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">

    <div class= "container-fluid">
        <a class = "navbar-brand mb-0 h1"style = "font-size: 30px">&#128272 LOGIN</a>
    </div>
</nav>

<div>

    <form method="POST" action="">
        {% csrf_token %}
        <table style ="margin-bottom:20px;margin-top:40px;">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-danger" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>
</body>

{% endblock content %}