{% extends 'base.html' %}

{% block meta %}
<title>Register New Account!</title>
{% endblock meta %}

{% block content %}
<style>
    body{background-color: ivory;}
</style>
<body>
<nav class = "navbar" style="background-color: lightpink;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">

    <div class= "container-fluid">
        <div class = "login container d-flex flex-column justify-content-center align-items-center">
        <a class = "navbar-brand mb-0 h1"style = "font-size: 30px">&#127912 Register New Account!</a>
    </div>
</nav>

<div class = "login"> 
        <form method="POST" >  
            {% csrf_token %}  
            <table style ="margin-bottom:20px;margin-top:40px;">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" class="btn btn-danger" value="Register"></td>
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}