{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 4 Assignment PBP/PBD</h1>

  <h5>Name: </h5>
  <p>Alyssa Larasati</p>

  <h5>Student ID: </h5>
  <p>2106656125</p>

  <table>
    <tr>
      <th>User Name</th>
      <th>Task Date</th>
      <th>Title Task</th>
      <th>Description</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for todolist in list_todo %}
    <tr>
        <th>{{todolist.username}}</th>
        <th>{{todolist.date_of_task}}</th>
        <th>{{todolist.title}}</th>
        <th>{{todolist.description}}</th>
    </tr>
{% endfor %}
<button><a href="{% url 'todolist:task_user' %}">Tambah Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<h5>Sesi terakhir login: {{ last_login }}</h5>
  </table>

 {% endblock content %}
